<!DOCTYPE html>
<html>
    <head>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles.css') }}"
        />

        <title>Flight Data</title>
    </head>
    <body>
        <div class="dropdown">
            <button
                onclick="document.getElementById('myDropdown').classList.toggle('show');"
                class="dropbtn"
            >
                Dropdown
            </button>
            <!-- <div id="myDropdown" class="dropdown-content">
                <a href="/filter/British Airways">British Airways</a>
                <a href="/filter/Ryanair">Ryanair</a>
                <a href="/filter/Easy Jet">Easy Jet</a>
            </div> -->
            <div id="myDropdown" class="dropdown-content">
                <a href="pets">Pets</a>
                <a href="">Link 2</a>
                <a href="">Link 3</a>
            </div>
        </div>
        <!-- HTML CODE FOR TABLE GOES HERE -->
        <table style="width: 100%">
            <tr>
                <th>Airline</th>
                <th>Destination</th>
                <th>DepartureTime</th>
                <th>Gate</th>
            </tr>
            {% for i in data %}

            <tr>
                <td>{{ i.Airline }}</td>
                <td>{{ i.Destination }}</td>
                <td>{{ i.DepartureTime }}</td>
                <td>{{ i.Gate }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
